<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Eniac.Reglas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--SiGA-->
		<add name="CadenaConexion" connectionString="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJ1FIGGMfaOfeM6ut3wpe0eeLruDUqpkWVrAoRGphiXtSBbYyK86RJKmDR3cgRfZ3qV9u8Sb1dyTZeJ/SwWml9Q6ybt0PxntbkH/SDXLU+zSbrmWucfHt0cbRxXOQ7hQDA=" providerName="System.Data.SqlClient"/>
		<add name="CadenaSegura" connectionString="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJ1FIGGMfaOfeM6ut3wpe0eeLruDUqpkWVrAoRGphiXtSBbYyK86RJKmDR3cgRfZ3qV9u8Sb1dyTZeJ/SwWml9Q6ybt0PxntbkH/SDXLU+zSbrmWucfHt0cbRxXOQ7hQDA=" providerName="System.Data.SqlClient"/>
		<add name="CadenaMaster" connectionString="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengLGurRPl6/ubkWSolcANAAHXUm/gqDO656iPQC58nBZzShSlShoUIQ0kgVvo872NISdv5D76HcojbPh5OTSu8rXis8sZV1optgtIJwhcP+dTHHNFOUdgyjMPHzgabjZei8=" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.diagnostics>
		<sources>
			<!-- En esta sección se define la configuración del registro para My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<system.serviceModel>
		<bindings/>
		<client/>
	</system.serviceModel>
	<applicationSettings>
		<Eniac.Reglas.My.MySettings>
   <setting name="Eniac_Reglas_WSSA1_LoginCMSService" serializeAs="String">
    <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
   </setting>
   <setting name="Eniac_Reglas_WSFEv2_Service" serializeAs="String">
    <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
   </setting>
   <setting name="Eniac_Reglas_WSFE_Service" serializeAs="String">
    <value>https://wswhomo.afip.gov.ar/wsfe/service.asmx</value>
   </setting>
   <setting name="Eniac_Reglas_WSBFE_Service" serializeAs="String">
    <value>https://wswhomo.afip.gov.ar/wsbfe/service.asmx</value>
   </setting>
   <setting name="Eniac_Reglas_WSPN3_ContribuyenteNivel3SelectServiceImplService"
    serializeAs="String">
    <value>http://awshomo.afip.gov.ar/padron-puc-ws/services/select.ContribuyenteNivel3SelectServiceImpl</value>
   </setting>
   <setting name="Eniac_Reglas_WSActualiza_WSActualizador" serializeAs="String">
    <value>http://wi531792.ferozo.com/actualizador/WSActualizador.svc</value>
   </setting>
   <setting name="Eniac_Reglas_ar_gov_afip_wswhomo_Service" serializeAs="String">
    <value>https://wswhomo.afip.gov.ar/wsfexv1/service.asmx</value>
   </setting>
   <setting name="Eniac_Reglas_WSFEXv1_Service" serializeAs="String">
    <value>https://wswhomo.afip.gov.ar/wsfexv1/service.asmx</value>
   </setting>
   <setting name="Eniac_Reglas_WSPN04_PersonaServiceA4" serializeAs="String">
    <value>https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA5</value>
   </setting>
  </Eniac.Reglas.My.MySettings>
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
