<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="BaseBackup" value="SiGA"/>
    <add key="PathBackup" value="C:\Eniac\"/>
    <add key="BaseBackupSegu" value="SiGA"/>
    <add key="PathBackupSegu" value="C:\Eniac\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	  <add key="Actualiza" value="True"/>
    <add key="CambiarBase" value="True"/>
  </appSettings>
  <connectionStrings>

    <!--CadenaConexionSIGA="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJ1FIGGMfaOfeM6ut3wpe0eeLruDUqpkWVrAoRGphiXtavDsqjpIsRBnPsXct9QleaEoILU+Mp2GqUvjU/zRcZBwD8/WonEcpjDVvKMALQjUIazMJEh0DZL2791vL81V98="-->
    <!--CadenaConexionSIGA_Anfa_Electricidad="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJWpGQW007iBhHzogafW8o0FON1VC1latzvyVa5LIF0eF9poLrdfgvgwa8o+CFZizO5B7+c+W7TWCKANVTUpVL5vNLZLrSHMuz3MrmM7ovbop5jsd00kv/J5xtTdFBHn0DUS7ZUm/7q23NF1lBQHt+h"-->
    <!--CadenaConexionSIGA_Bernabe="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengIy7fMSLbz901+mSQnLKNwtvJCHFGNll7jZANkqCqY4XviYiSgY83b8AkAmYUHHkqe59NOOz34dbaHNcPqpwHaxnwNYR4Jg/j8teGXHGqBh50QDTqVqCtIiHfTRCQ4WhJmQyO/aaFqjLm0tgPeBUD3D"-->
    <!--CadenaConexionSIGA_Caja="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJjj55/jVnsvulxlUTHF/O9mfuF5TjecguAIUfyIedM8LNbI4pv2ZgCfRkm0BJxgYHdTSFPBAkkH4xPv0DkNJ3hsTlr1XI+6Wcu16b/FaEYKPiuIEDDHKdf469ARNrM445fJs5Fgy+Xbn36LDmBJKIC"-->
    <!--CadenaConexionSIGA_CaraNegra="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJSeuq369uwTI1tvif3tX0MnLv32CHc/w9YV1LSGA0FsGkEDZ3arEqiq1ckI1rVM/VmVEjqQYlULXr8u33JcfAKO+nEJpOLUsCtewhQRe8QwX0wiNEUHzQ1UKkuTSKznUY24tXcxzDgNhdufEr6dVfk"-->
    <!--CadenaConexionSIGA_CentralAutopartes="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJDVPqoqK88EBjhmlsFWgz1aq8a5NZ/ExKaH8Dqg+HWnkRJXNfrYCdysCh62ZQSI5UzS7bAqPPXPvV/+NsRCQ7htxT4hPFOj3y21TJz7Ur/sK+c89PPYlKMI3iyYOsA+ZZ+2D2+lw+LpuBFqhjsf5WS"-->
    <!--CadenaConexionSIGA_Clemente="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJaVSROQlINXhzgpDR0Y0s7qbjDFMh8GXo40PcYncDI5QzHTcMLYLpPUVtEzLvhaqInkNhe3HK3VtTtzF76zEK/ML1cTkRuCfb1+2UUaqB9RmPaFWdBZLfDqPEdUAbh2quDxrmAtxUUd/dnoC/rR5c9"-->
    <!--CadenaConexionSIGA_Distrib_LasPalmeras="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengKd68EH53vAgcCmb/GsXUYroBTD0VI9R0eXQcUdUQ7Ug6+DnbKabd7Pp7WYPzgrL0NlGJ8fNEDQ3Ye5Upao9x8p8JgdsFLlW7NGlvnorp7wJmHlTT4cuiE1GGTIac9gV5GtP5l5RAA3b6s2szb6f6anT/QoyEakIJDdRDqVWhRrYQ=="-->
    <!--CadenaConexionSIGA_eFact="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengK/Ep6PnuE0+/WyIfEybEsajFjLacg3j3Xzxpw6fC9SxZ/BYFn2jQhhZi3sWY5XcVcfDJc7ZYqTusP+4V72IVPh4e8NC2rVs6wRc5nojS9gxAEgoam73NRD4t8dKd6kR02PFSYOh8Pq7F3yPM/53cOt"-->
    <!--CadenaConexionSIGA_FerreteriaCyM="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengLamespKNKqDQ9pQoLha6w6MPG4nv3w0GTURxSyLNdXjkifi++cqn/3vZUJUwEhdzDEXxH+DIuqT6RXKxsotiFiQ202JIXNUAm/Y+eRWiUI1GwOR1bG1xrjXkNZJEe8ZtF7khPFcdFAkDyAvPV+hwJZ"-->
    <!--CadenaConexionSIGA_Ferreteria_Carmadeco="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengLamespKNKqDQ9pQoLha6w6BY4WHNea/C5XV2s/rTbfsu0TdFjy2OYZo77qNoqcQ45XD3UlPpEqR+Z+8DgfnLkE5XQEVUzm4BNIth51RUgURcR5rRwXT18O5YyTocXkX0hg8ti9syEdB6vzKSyPkDPGN8ex4gFo2ONIVRhO6Uj+Dw=="-->
    <!--CadenaConexionSIGA_Frig_Ferreyra="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJmtXhBaGYgYYixGcDWGNSD1lzATtHzMUI6axvEHrQZmJ8x/xZsplPlPJ9tlb6q24ixJBM7McA/ugwdNcanm+D8cd+Me8FOogv0kFOOilIgYlIMf/dvB88e3HQJpsfAAm2jpm/fIQolCSQFKHB9WuJK"-->
    <!--CadenaConexionSIGA_HiperPack="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengLGjEBR7ofJXA5r5P2WZ9zrYYVFPJoYsSLhQPmrsLwpqr88Mu34pmXbo9eCxf5x+Qi1mUEY91mUEUMnXEq5uxKB5LlMzOT3RtSS1vvxEw88IKiKTCzxKLHPXziwfgVtzyzKhRjmuBFkWdyuwNnXojpX"-->
    <!--CadenaConexionSIGA_LSInformatica="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJ6mJ8NJWIhxF5jr53Xn0mJp+gLaozZq3Gn7QY9youBFPwO2cos8ZZTnrJMtmDiQQ8gX3t/PZrvB+fsk9LgMCubQzJ9hdi5ZTKT6kkXp/ZDQyGK55H8MhXj3xUkt5sLSJYyBTrfhwV/90YiFhfKvP+3"-->
    <!--CadenaConexionSIGA_Meglio="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJf8XH9fgQTdYimcjyrfCzyIv/yw0QLnAZqShIk9X0+SK1MVrWEpj2H3GWrdFT4YaiNX+zh9wOzDSgEZtO8IdqhbcYdTXQpboBZ+bTIqT1paMdSNpcsJ3tdS2eX9Hn14pR98gjy1QNrc+nWEpZr/uwP"-->
    <!--CadenaConexionSIGA_MTV_Perez="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengL7uA3+lOs/jwGpj2OcIjB3jUexhmU8an1QNY/rH/kBPpVp+0njfKD4mxnh+HxY2OehbBkJQ+Xm8wDGbpVtxus62cuCTvBfiGVrikqdP9A6BE2Ts0V+a+alop9SyxvlsO8QnM15y0zc1o3EeHwNWj36"-->
    <!--CadenaConexionSIGA_MTV_Soldini="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengL7uA3+lOs/jwGpj2OcIjB34q/5MIZyBfpqPWKHWjxddBUuYgjDwU5ScWSrzojhIfvUD6uwiuIEnrXff+IHQHu7saDzqtQMbN/2Y/88TTRSU7+peQccT2QE+wuapCe0ICfQuhDVARHxRIaD3AkCx49p"-->
    <!--CadenaConexionSIGA_MTV_Zavalla="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengL7uA3+lOs/jwGpj2OcIjB3E/O8fuDFNAyods1/6rVePldzSMts098yEpKjq4tVhv70E8kNdVjzxxdiUOscAeyyok+GBkGfy7Ug6AxRXxJ0665Yyrqj9OVZwYoBmZwzVdV1dO9R2RKhll7BgXROf18+"-->
    <!--CadenaConexionSIGA_Raymundo="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengKLby23UPlKXj74OsJTQ1ONGKTGtowRQ2W+Y4G/exCMbbSablWHO4BQZbG4VMXASUOhVugeWiy69AaCfq2cRqxCBkky+l8tJDrwlsPhl138+3Ze/arUPiI15IuueO8wQbw6CtwZFfbOIJtyjlwOu9U+"-->
    <!--CadenaConexionSIGA_Sinergia="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengLskQtu1Va7Bu/MmgCovZl+VuEJIDGXgHP1B0pBAlv7pg0aXYfHpZ6fwMpnRKkPwJ6YooYWi4K4ZIGv0xlQnYw9S71FOU+Vu8qtrdg3ETYto6GA7XDgFZXcQSqmGo8qAkrgY60QiCevFt8+m7opAXDG"-->
    <!--CadenaConexionSIGA_SisCAP="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengIwNh02xmnmvQluXEK8TiJyIUfAtSO2FcWc57QZ2LGWZutiwflSyv4rnOaxLW1b8C7TUs7z/absPuEvsM0fOi6SksWv7o/aO2e//8eFQeUlelC3dH9OR2ilLHCeLbYlsygHF7yfDRZ9NOUOI7YrhvNT"-->
    <!--CadenaConexionSIGA_Stringhetti="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengLFCj3I8jLCEe0HqjMk7a+k4c0MsuDvduSFNEHo8QGmfycPGmQEMOis7Q/V5TufLL132WdN90ib0Vmekf4Kwy+SNgBPvNefvRpzqf3x0SOubu4jNb04mbKIZaGK5QBPZij+McNoewyiPEVY+1pOYoC8"-->

    <add name="CadenaConexion" connectionString="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengIwNh02xmnmvQluXEK8TiJyIUfAtSO2FcWc57QZ2LGWZutiwflSyv4rnOaxLW1b8C7TUs7z/absPuEvsM0fOi6SksWv7o/aO2e//8eFQeUlelC3dH9OR2ilLHCeLbYlsygHF7yfDRZ9NOUOI7YrhvNT" providerName="System.Data.SqlClient"/>
    <add name="CadenaSegura" connectionString="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengIwNh02xmnmvQluXEK8TiJyIUfAtSO2FcWc57QZ2LGWZutiwflSyv4rnOaxLW1b8C7TUs7z/absPuEvsM0fOi6SksWv7o/aO2e//8eFQeUlelC3dH9OR2ilLHCeLbYlsygHF7yfDRZ9NOUOI7YrhvNT" providerName="System.Data.SqlClient"/>
    <add name="CadenaMaster" connectionString="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengLGurRPl6/ubkWSolcANAAHXUm/gqDO656iPQC58nBZzShSlShoUIQ0kgVvo872NIQCD94BZpgga5iA0Dpi2n0Xk+61e59R1DIaaExBNbf9CE7sCKiQI64obGCLOVHhdD8=" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="SIGA"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="SIGA"/> 
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
