<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Nemiro.OAuth" version="1.13.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Nemiro.OAuth.LoginForms" version="1.7.0" targetFramework="net40" requireReinstallation="true" />
  <package id="ScrapySharp" version="2.2.63" targetFramework="net40" />
</packages>