
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ListasDePrecios SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Marcas SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Clientes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ClientesMarcasListasDePrecios ADD CONSTRAINT
	FK_ClientesMarcasListasDePrecios_Clientes FOREIGN KEY
	(
	TipoDocumento,
	NroDocumento
	) REFERENCES dbo.Clientes
	(
	TipoDocumento,
	NroDocumento
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ClientesMarcasListasDePrecios ADD CONSTRAINT
	FK_ClientesMarcasListasDePrecios_Marcas FOREIGN KEY
	(
	IdMarca
	) REFERENCES dbo.Marcas
	(
	IdMarca
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ClientesMarcasListasDePrecios ADD CONSTRAINT
	FK_ClientesMarcasListasDePrecios_ListasDePrecios FOREIGN KEY
	(
	IdListaPrecios
	) REFERENCES dbo.ListasDePrecios
	(
	IdListaPrecios
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ClientesMarcasListasDePrecios SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
