<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="BaseBackup" value="SiGA"/>
		<add key="PathBackup" value="C:\Eniac\"/>
		<add key="BaseBackupSegu" value="SiGA"/>
		<add key="PathBackupSegu" value="C:\Eniac\"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="Actualiza" value="True"/>
		<add key="CambiarBase" value="True"/>
	</appSettings>
	<connectionStrings>
		<!--SiGA-->
		<add name="CadenaConexion1" connectionString="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJ1FIGGMfaOfeM6ut3wpe0eeLruDUqpkWVrAoRGphiXtSBbYyK86RJKmDR3cgRfZ3qV9u8Sb1dyTZeJ/SwWml9Q6ybt0PxntbkH/SDXLU+zSbrmWucfHt0cbRxXOQ7hQDA=" providerName="System.Data.SqlClient"/>
		<add name="CadenaSegura" connectionString="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengJ1FIGGMfaOfeM6ut3wpe0eeLruDUqpkWVrAoRGphiXtSBbYyK86RJKmDR3cgRfZ3qV9u8Sb1dyTZeJ/SwWml9Q6ybt0PxntbkH/SDXLU+zSbrmWucfHt0cbRxXOQ7hQDA=" providerName="System.Data.SqlClient"/>
		<add name="CadenaMaster" connectionString="w3sFdDiSBkEZuYMA759UkJNiaXhpRECjXIqZ6BtengLGurRPl6/ubkWSolcANAAHXUm/gqDO656iPQC58nBZzShSlShoUIQ0kgVvo872NISdv5D76HcojbPh5OTSu8rXis8sZV1optgtIJwhcP+dTGg82/f/wRFeabuTvEyWhx8=" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="SIGA"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<!-- Este seteo activa el log -->
			<!--<add name="DefaultSwitch" value="Verbose"/> -->
			<!-- Este seteo desactiva el log -->
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="SIGA"/>
		</sharedListeners>
	</system.diagnostics>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
