*{
	margin:0px;
	padding:0px
}
img{border:0px}
html{
width:100%;
height:100%;
}
body{
margin:auto;
}
#header{
width:711px;
background-image:url(../images/bg1.gif);
background-position:715px 0px;
background-repeat:no-repeat;
padding:0 0 0 50px;
float:left
}
#menu{
background-image:url(../images/bg.gif);
background-position:top left;
background-repeat:no-repeat;
padding:2px 0 2px 51px;
float:left;
width:715px
}
#header img, #menu li, #menu img, .input img, .big img{
float:left;
}
#menu ul{
margin:0 2px 0 2px;
display:inline;
width:219px;
float:left
}
#menu li{
list-style-type:none;
width:219px;
float:left
}
#slogan{
	background-image:url(../images/fondoanuncio.gif);
	background-repeat:no-repeat;
	width: 302px;
}

#slogan a{
font-family:tahoma;
font-weight:bold;
font-size:11px;
color:#FFECC9;
text-decoration:none;
margin:133px 0 0 158px;
float:left
}

.left{
float:left;
display:inline;
margin:0 20px 0 0
}
.right{
float:left;
width:450px;
}
.event{
font-family:Tahoma;
font-size:11px;
color:#1C1D21;
width:190px;
padding:0 0 18px 20px
}
.event strong{
color:#2A3A4E
}
.event span{
color:#1C1D21;
font-weight:bold
}
.event p{
padding:0 0 8px 0
}
.event a{
display:block;
background-image:url(../images/square.jpg);
background-position:0px 5px;
background-repeat:no-repeat;
padding:0 0 0 12px;
font-family:Tahoma;
font-size:11px;
color:#F1A10D;
font-weight:bold;
text-decoration:none
}

.text{
width:141px;
height:14px;
float:left;
border-bottom:1px solid #BFBFBF;
border-right:1px solid #BFBFBF;
border-top:1px solid #404040;
border-left:1px solid #404040;
margin:0 8px 5px 0;
display:inline;
font-family:Tahoma;
font-size:11px;
color:#1C1D21;
padding:0 0 0 3px
}

.check{
float:left;
padding:0 0 22px 0
}
.check input{
float:left;
margin:5px 5px 0 0
}
.check p{
float:left;
margin:5px 5px 0 0
}
.big{
width:435px;
padding:0 0 25px 0;
float:left;
font-family:Tahoma;
font-size:11px;
color:#3A3D42
}
.big span{
color:#F1A10D;
font-weight:bold;
margin:0 0 8px 0;
}
.big p{
padding:0 0 19px 0
}
.pic1{
margin:0 10px 10px 0
}
.grey{
width:170px;
height:10px;
float:left;
background-color:#EDEDEE
}
.more{
display:block;
float:left;
margin:-3px 0 0 10px;
background-image:url(../images/square.jpg);
background-position:0px 5px;
background-repeat:no-repeat;
padding:0 0 0 12px;
font-family:Tahoma;
font-size:11px;
color:#1C1D21;
font-weight:bold;
text-decoration:none
}
.services{
float:left;
width:213px;
}
.item{
float:left;
width:210px;
font-family:Tahoma;
font-size:11px;
color:#3A3D42;
margin:0 0 12px 0;
}
.item img{
float:left;
margin:0 8px 5px 0
}
.item  p{
width:110px;
float:left
}
.item strong{
display:block;
float:left;
color:#F1A10D;
}
.read{
display:block;
float:left;
clear:both;
width:213px;
padding:0 0 2px 0;
text-align:right;
background-color:#EDEDEE;
}
.read a{
background-image:url(../images/square.jpg);
background-position:right 5px;
background-repeat:no-repeat;
padding:0 12px 0 0;
margin:0 4px 0 0;
font-family:Tahoma;
font-size:11px;
color:#1C1D21;
font-weight:bold;
text-decoration:none
}
.solutions{
float:left;
width:222px;
font-family:Tahoma;
font-size:11px;
color:#3A3D42;
}
.solutions strong{
color:#F1A10D
}
.solutions p{
float:left;
padding:0 25px 0 32px
}
.solutions ul{
float:left;
padding:10px 0 0 32px;
}
.solutions li{
list-style-type:none;
float:left;
width:184px;
padding:0 0 5px 8px;
background-image:url(../images/li.gif);
background-repeat:no-repeat;
background-position:0 5px;
}
.solutions a{
color:#074DA4;
text-decoration:underline
}
.solutions a:visited, #footer .second span a:visited{text-decoration:underline}
.solutions a:hover, #footer .second span a:hover{text-decoration:none}
#footer{
float:left;
background-image:url(../images/bg3.gif);
background-position:top left;
background-repeat:no-repeat;
padding:0 0 0 52px
}
.first{
background-color:#1C1D21;
width:202px;
height:78px;
font-family:Verdana;
font-size:11px;
color:#FFFFFF;
padding:32px 0 0 17px;
margin:0 2px 0 0;
float:left
}
.second{
width:441px;
height:79px;
float:left;
background-color:#F1A10D;
margin:0 2px 0 0;
padding:30px 0 0 0;
text-align:center;
font-family:Verdana;
font-size:11px;
color:#1C1D21;
}
.second a{
color:#1C1D21;
text-decoration:none;
}
.second p{
padding:15px 0 0 0
}
#footer .second span a, #footer .second span{
color:#FF2400;
}
#footer .second span a{
text-decoration:underline
}

.mainlevelPrincipal {
	Background-color: #1C1D21;	
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	Font-Weight: bold;	
	Color: #999999;
	Text-decoration: none;
	padding-left: 10px;	
	padding-top : 4px;
	padding-bottom : 4px; 
	display : block;
	border-left : solid 4px #1C1D21;
	
	
}
.mainlevelPrincipal:hover {
	Background-color:#333333;
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	Font-Weight: bold;	
	Color: #999999;
	Text-decoration: underline;	
	padding-left: 10px;	
	padding-top : 4px;
	padding-bottom : 4px;  
	display : block;
	border-left : solid 4px blue;	
}

#active_menuPrincipal{
	Background-color:#333333;
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	Font-Weight: bold;	
	Color: #bbbbbb;
	Text-decoration: none;	
	padding-left: 10px;	
	padding-top : 4px;
	padding-bottom : 4px;  
	display : block;
	border-left : solid 4px #C22765;	
}

#menuprincipal{
	Background-color:#1C1D21;
	vertical-align: top;
	width: 180px;

}
#borderleftmenu{
	background-image: url(../images/bordeheadmenuleft.gif);
	width : 51px;
	background-repeat : no-repeat;
		
}
#borderrightmenu{
	background-image: url(../images/bordeheadmenuright.gif);
	width: 51px;
	background-repeat : no-repeat;
		
}
#logo{
	Height: 80px;	
	background-image: url(../images/fondologo.gif);
}
#menutop{
	Height: 80px;	
	background-image: url(../images/fondologo.gif);
	vertical-align : bottom;	
	padding-right : 5px;
	text-align : right;
}
/* 
#content{
padding:19px 0 15px 52px;
float:left;
background-image:url(../images/bg2.gif);
background-position:bottom left;
background-repeat:no-repeat
}
*/
#content{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	color: #777777;
	padding: 8px;
}

#contentleft{
	Background-color:#FBE3B7;
}

#footerleft{
	Background-color:#1C1D21;	
	width: 180px;
	height: 120px;
}

#footercontent{
	Background-color:#F1A10D;	
	width: 200px;
	height: 120px;
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	text-align: center;
	vertical-align : top;	
}

.mainlevelbmenu1{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	text-decoration: none;
	padding-top : 3px;
	padding-left : 1px;
	padding-right : 1px;
	color: Black;
	display : inline;
}
.mainlevelbmenu1:hover{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	text-decoration: underline;
	padding-top : 3px;
	padding-left : 1px;
	padding-right : 1px;	
	color: Black;
	display : inline;
}

.mainlevelbmenu2{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	text-decoration: none;	
	padding-left : 1px;
	padding-right : 1px;
	color: Black;	
}
.mainlevelbmenu2:hover{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;	
	text-decoration: underline;	
	padding-left : 1px;
	padding-right : 1px;
	color: Black;	
}

.mainleveltop{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	font-weight : bold;
	text-decoration: none;	
	padding-left : 3px;
	padding-right : 3px;
	color: #777777;
	height : 15px;	
	display : inline-block ;	
}
.mainleveltop:hover{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	text-decoration: none;	
	padding-left : 3px;
	padding-right : 3px;
	color: #444444;	
	height : 15px;	
	display : inline-block ;
}
.componentheading{	
	color : Navy;
	padding-top : 7px;
	padding-left : 18px;
	height: 20px;
	font-weight : bold;	
	font-size : 12px;
	background-image: url(../images/FondoTituloPagina.gif)
	
}
#imagenhead{
	Width: 196px;
}

#maintable{
	Width: 780px;
	margin-left : auto;
	margin-right : auto;		 
}

input{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
}
.input{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	border : 0px;	
}
select{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
}

textarea{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
}
.hasTip{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
}
.linkloginform{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	color: #333333;
	text-decoration : none;
}
.linkloginform:hover{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	color: #333333;
	text-decoration : underline;
}
#tdlogin{
	Font-Family: verdana, Arial,Tahoma;
	Font-Size: 11px;
	color: #333333;
	text-align : right;
	height : 25px;
}


.input{		
	font-family: Verdana, Arial, Tahoma;
	font-size:11px;
	color:#1C1D21;
	width : 400px
}
div{
	font-family: Verdana, Arial, Tahoma;
	font-size:11px;
	background-color :white;
	padding : 1px;
}