UPDATE UnidadesDeMedidas set idAFIP = 7 WHERE IdUnidadDeMedida = 'UN';
UPDATE UnidadesDeMedidas set idAFIP = 1 WHERE IdUnidadDeMedida = 'KG';
UPDATE UnidadesDeMedidas set idAFIP = 14 WHERE IdUnidadDeMedida = 'GR';
UPDATE UnidadesDeMedidas set idAFIP = 5 WHERE IdUnidadDeMedida = 'LT';
UPDATE UnidadesDeMedidas set idAFIP = 27 WHERE IdUnidadDeMedida = 'CC';

