
/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PedidosProductosProveedores ADD	DescuentoRecargoPorc decimal(6, 2) NULL
GO
ALTER TABLE dbo.PedidosProductosProveedores ADD	DescuentoRecargoPorc2 decimal(6, 2) NULL
GO
COMMIT

/* ------------- */

UPDATE dbo.PedidosProductosProveedores 
   SET DescuentoRecargoPorc = 0
      ,DescuentoRecargoPorc2 = 0
GO

ALTER TABLE dbo.PedidosProductosProveedores ALTER COLUMN DescuentoRecargoPorc decimal(6, 2) NOT NULL
GO
ALTER TABLE dbo.PedidosProductosProveedores ALTER COLUMN DescuentoRecargoPorc2 decimal(6, 2) NOT NULL
GO
