
ALTER TABLE [dbo].[TiposComprobantes] ADD IdPlanCuenta [int] NULL
GO

UPDATE [dbo].[TiposComprobantes] 
   SET IdPlanCuenta = (CASE WHEN GrabaLibro = 'True' THEN 1 ELSE 2 END)
GO 

ALTER TABLE [dbo].[TiposComprobantes] ALTER COLUMN IdPlanCuenta [int] NOT NULL
GO

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ContabilidadPlanes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TiposComprobantes ADD CONSTRAINT
	FK_TiposComprobantes_ContabilidadPlanes FOREIGN KEY
	(
	IdPlanCuenta
	) REFERENCES dbo.ContabilidadPlanes
	(
	IdPlanCuenta
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TiposComprobantes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT


/*

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TiposComprobantes](
	[IdTipoComprobante] [varchar](15) NOT NULL,
	[EsFiscal] [bit] NOT NULL,
	[Descripcion] [varchar](25) NOT NULL,
	[Tipo] [varchar](10) NOT NULL,
	[CoeficienteStock] [int] NOT NULL,
	[GrabaLibro] [bit] NOT NULL,
	[EsFacturable] [bit] NOT NULL,
	[LetrasHabilitadas] [varchar](20) NULL,
	[CantidadMaximaItems] [int] NOT NULL,
	[Imprime] [bit] NOT NULL,
	[CoeficienteValores] [int] NOT NULL,
	[ModificaAlFacturar] [varchar](15) NULL,
	[EsFacturador] [bit] NOT NULL,
	[AfectaCaja] [bit] NOT NULL,
	[CargaPrecioActual] [bit] NOT NULL,
	[ActualizaCtaCte] [bit] NOT NULL,
	[DescripcionAbrev] [varchar](10) NOT NULL,
	[PuedeSerBorrado] [bit] NOT NULL,
	[CantidadCopias] [int] NOT NULL,
	[EsRemitoTransportista] [bit] NOT NULL,
	[ComprobantesAsociados] [varchar](100) NULL,
	[EsComercial] [bit] NOT NULL,
	[CantidadMaximaItemsObserv] [int] NOT NULL,
	[IdTipoComprobanteSecundario] [varchar](15) NULL,
	[ImporteTope] [decimal](10, 2) NOT NULL,
	[IdTipoComprobanteEpson] [char](1) NOT NULL,
	[UsaFacturacionRapida] [bit] NOT NULL,
	[ImporteMinimo] [decimal](10, 2) NOT NULL,
	[EsElectronico] [bit] NOT NULL,
	[UsaFacturacion] [bit] NOT NULL,
	[UtilizaImpuestos] [bit] NOT NULL,
	[NumeracionAutomatica] [bit] NOT NULL,
	[GeneraObservConInvocados] [bit] NOT NULL,
	[ImportaObservDeInvocados] [bit] NOT NULL,
	[idPlanCuenta] [int] NULL,
 CONSTRAINT [PK_TiposComprobantes] PRIMARY KEY CLUSTERED 
(
	[IdTipoComprobante] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[TiposComprobantes]  WITH CHECK ADD  CONSTRAINT [FK_TiposComprobantes_TiposComprobantes] FOREIGN KEY([IdTipoComprobanteSecundario])
REFERENCES [dbo].[TiposComprobantes] ([IdTipoComprobante])
GO
ALTER TABLE [dbo].[TiposComprobantes] CHECK CONSTRAINT [FK_TiposComprobantes_TiposComprobantes]
GO
*/