
IF EXISTS (SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS 
            WHERE TABLE_NAME = 'Productos' AND COLUMN_NAME = 'MultiplesIVAS')
    BEGIN
		ALTER TABLE dbo.Productos DROP COLUMN MultiplesIVAS
    END
GO


/* ------ TABLA ------ */

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Impuestos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Productos ADD
	Alicuota2 decimal(6, 2) NULL
GO

ALTER TABLE dbo.Productos ADD CONSTRAINT
	FK_Productos2_Impuestos FOREIGN KEY
	(
	IdTipoImpuesto,
	Alicuota2
	) REFERENCES dbo.Impuestos
	(
	IdTipoImpuesto,
	Alicuota
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO

ALTER TABLE dbo.Productos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
