
/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Sucursales SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ArchivosAImprimir ADD CONSTRAINT
	FK_ArchivosAImprimir_Sucursales FOREIGN KEY
	(
	IdSucursal
	) REFERENCES dbo.Sucursales
	(
	IdSucursal
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ArchivosAImprimir SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

/* -------------------------------- */


ALTER TABLE [dbo].[ArchivosAImprimir] ALTER COLUMN ReporteSecundario [nvarchar](max) NOT NULL
GO
