/****** SELECCION DE NCRED-CYO FECHA 05/03/2018 EN ADELANTE LETRA "A" N° 2-39  ******/
SELECT  [IdSucursal]
      ,[IdTipoComprobante]
      ,[Letra]
      ,[CentroEmisor]
      ,[NumeroComprobante]
      ,[Fecha]
      ,[TipoDocVendedor]
      ,[NroDocVendedor]
      ,[SubTotal]
      ,[DescuentoRecargo]
      ,[ImporteTotal]
      ,[IdCliente]
      ,[IdCategoriaFiscal]
      ,[IdFormasPago]
      ,[Observacion]
      ,[ImporteBruto]
      ,[DescuentoRecargoPorc]
      ,[IdEstadoComprobante]
      ,[IdTipoComprobanteFact]
      ,[LetraFact]
      ,[CentroEmisorFact]
      ,[NumeroComprobanteFact]
      ,[IdCaja]
      ,[NumeroPlanilla]
      ,[NumeroMovimiento]
      ,[ImportePesos]
      ,[ImporteTickets]
      ,[ImporteTarjetas]
      ,[ImporteCheques]
      ,[Kilos]
      ,[Bultos]
      ,[ValorDeclarado]
      ,[IdTransportista]
      ,[NumeroLote]
      ,[TotalImpuestos]
      ,[CantidadInvocados]
      ,[CantidadLotes]
      ,[Usuario]
      ,[FechaAlta]
      ,[CAE]
      ,[CAEVencimiento]
      ,[Utilidad]
      ,[FechaTransmisionAFIP]
      ,[CotizacionDolar]
      ,[ComisionVendedor]
      ,[FechaImpresion]
      ,[IdAsiento]
      ,[MercDespachada]
      ,[ImporteTransfBancaria]
      ,[IdCuentaBancaria]
      ,[IdActividad]
      ,[IdProvincia]
      ,[IdProveedor]
      ,[FechaEnvio]
      ,[NumeroReparto]
      ,[FechaRendicion]
      ,[FechaActualizacion]
      ,[Direccion]
      ,[IdLocalidad]
      ,[IdCategoria]
      ,[CodigoErrorAfip]
      ,[IdPlanCuenta]
      ,[TotalImpuestoInterno]
      ,[MetodoGrabacion]
      ,[IdFuncion]
      ,[SaldoActualCtaCte]
      ,[IdEmbarcacion]
      ,[CodigoEmbarcacion]
      ,[NombreEmbarcacion]
      ,[IdCategoriaEmbarcacion]
      ,[NombreCategoriaEmbarcacion]
      ,[NumeroOrdenCompra]
      ,[IdCobrador]
      ,[IdMoneda]
      ,[IdClienteVinculado]
  FROM [SiSeN_Tifon].[dbo].[Ventas]
  WHERE IdTipoComprobante = 'NCRED-CYO'
  and Letra = 'A'
  and CentroEmisor = 2
  and NumeroComprobante >= 39


