PRINT ''
PRINT '1. Tabla TiposComprobantes:  Nuevos comprobantes de nota de credito y debito internos que no vayan al libro de iva'

IF NOT EXISTS(SELECT * FROM TiposComprobantes WHERE IdTipoComprobante = 'NCREDINT')
    INSERT [dbo].[TiposComprobantes] ([IdTipoComprobante], [EsFiscal], [Descripcion], [Tipo], [CoeficienteStock], [GrabaLibro], [EsFacturable], [LetrasHabilitadas], [CantidadMaximaItems], [Imprime], [CoeficienteValores], [ModificaAlFacturar], [EsFacturador], [AfectaCaja], [CargaPrecioActual], [ActualizaCtaCte], [DescripcionAbrev], [PuedeSerBorrado], [CantidadCopias], [EsRemitoTransportista], [ComprobantesAsociados], [EsComercial], [CantidadMaximaItemsObserv], [IdTipoComprobanteSecundario], [ImporteTope], [IdTipoComprobanteEpson], [UsaFacturacionRapida], [ImporteMinimo], [EsElectronico], [UsaFacturacion], [UtilizaImpuestos], [NumeracionAutomatica], [GeneraObservConInvocados], [ImportaObservDeInvocados], [IdPlanCuenta], [EsAnticipo], [EsRecibo], [Grupo], [EsPreElectronico], [GeneraContabilidad], [UtilizaCtaSecundariaProd], [UtilizaCtaSecundariaCateg], [IncluirEnExpensas], [IdTipoComprobanteNCred], [IdTipoComprobanteNDeb], [IdProductoNCred], [IdProductoNDeb], [ConsumePedidos], [EsPreFiscal], [CodigoComprobanteSifere], [EsDespachoImportacion], [CargaDescRecActual], [IdTipoComprobanteContraMovInvocar], [AlInvocarPedidoAfectaFactura], [AlInvocarPedidoAfectaRemito], [InvocarPedidosConEstadoEspecifico], [InvocaCompras], [LargoMaximoNumero], [NivelAutorizacion], [RequiereReferenciaCtaCte], [ControlaTopeConsumidorFinal], [CargaDescRecGralActual], [EsReciboClienteVinculado], [AFIPWSIncluyeFechaVencimiento], [AFIPWSEsFEC], [AFIPWSRequiereReferenciaComercial], [AFIPWSRequiereComprobanteAsociado], [AFIPWSRequiereCBU], [AFIPWSCodigoAnulacion], [Orden], [MarcaInvocado], [PermiteSeleccionarAlicuotaIVA], [ImportaObservGrales], [DescripcionImpresion], [InformaLibroIva], [SolicitaFechaDevolucion], [AFIPWSRequiereReferenciaTransferencia], [ActivaTildeMercDespacha], [Color], [CodigoRoela]) 
    VALUES (N'NCREDINT', 0, N'Nota Credito Interna', N'VENTAS', 1, 1, 0, N'A,B,C,E', 24, 1, -1, NULL, 1, 1, 0, 1, N'NCINT', 0, 2, 0, N'', 1, 23, NULL, CAST(99999999.99 AS Decimal(14, 2)), N'.', 0, CAST(0.10 AS Decimal(10, 2)), 0, 1, 1, 0, 1, 1, 1, 0, 0, N'VENTAS', 0, 1, 0, 0, 0, NULL, NULL, NULL, NULL, 0, 0, N'C', 0, 0, NULL, 1, 1, 1, 0, 8, 1, 0, 1, 0, 0, NULL, 0, 0, 0, 0, 0, 10, 1, 0, 1, N'Nota Credito Interna', 0, 0, 0, 0, NULL, N'')

IF NOT EXISTS(SELECT * FROM TiposComprobantes WHERE IdTipoComprobante = 'NDEBINT')
    INSERT [dbo].[TiposComprobantes] ([IdTipoComprobante], [EsFiscal], [Descripcion], [Tipo], [CoeficienteStock], [GrabaLibro], [EsFacturable], [LetrasHabilitadas], [CantidadMaximaItems], [Imprime], [CoeficienteValores], [ModificaAlFacturar], [EsFacturador], [AfectaCaja], [CargaPrecioActual], [ActualizaCtaCte], [DescripcionAbrev], [PuedeSerBorrado], [CantidadCopias], [EsRemitoTransportista], [ComprobantesAsociados], [EsComercial], [CantidadMaximaItemsObserv], [IdTipoComprobanteSecundario], [ImporteTope], [IdTipoComprobanteEpson], [UsaFacturacionRapida], [ImporteMinimo], [EsElectronico], [UsaFacturacion], [UtilizaImpuestos], [NumeracionAutomatica], [GeneraObservConInvocados], [ImportaObservDeInvocados], [IdPlanCuenta], [EsAnticipo], [EsRecibo], [Grupo], [EsPreElectronico], [GeneraContabilidad], [UtilizaCtaSecundariaProd], [UtilizaCtaSecundariaCateg], [IncluirEnExpensas], [IdTipoComprobanteNCred], [IdTipoComprobanteNDeb], [IdProductoNCred], [IdProductoNDeb], [ConsumePedidos], [EsPreFiscal], [CodigoComprobanteSifere], [EsDespachoImportacion], [CargaDescRecActual], [IdTipoComprobanteContraMovInvocar], [AlInvocarPedidoAfectaFactura], [AlInvocarPedidoAfectaRemito], [InvocarPedidosConEstadoEspecifico], [InvocaCompras], [LargoMaximoNumero], [NivelAutorizacion], [RequiereReferenciaCtaCte], [ControlaTopeConsumidorFinal], [CargaDescRecGralActual], [EsReciboClienteVinculado], [AFIPWSIncluyeFechaVencimiento], [AFIPWSEsFEC], [AFIPWSRequiereReferenciaComercial], [AFIPWSRequiereComprobanteAsociado], [AFIPWSRequiereCBU], [AFIPWSCodigoAnulacion], [Orden], [MarcaInvocado], [PermiteSeleccionarAlicuotaIVA], [ImportaObservGrales], [DescripcionImpresion], [InformaLibroIva], [SolicitaFechaDevolucion], [AFIPWSRequiereReferenciaTransferencia], [ActivaTildeMercDespacha], [Color], [CodigoRoela]) 
    VALUES (N'NDEBINT', 0, N'Nota Debito Interna', N'VENTAS', -1, 1, 0, N'A,B,C,E', 24, 1, 1, NULL, 1, 1, 0, 1, N'NDINT', 0, 2, 0, N'', 1, 23, NULL, CAST(99999999.99 AS Decimal(14, 2)), N'.', 0, CAST(0.10 AS Decimal(10, 2)), 0, 1, 1, 0, 1, 1, 1, 0, 0, N'VENTAS', 0, 1, 0, 0, 0, NULL, NULL, NULL, NULL, 1, 0, N'D', 0, 0, NULL, 1, 1, 1, 0, 8, 1, 0, 1, 0, 0, NULL, 0, 0, 0, 0, 0, 10, 1, 0, 1, N'Nota Debito Interna', 0, 0, 0, 0, NULL, N'')


PRINT ''
PRINT '2. Tabla Parametros:  Cambiar ValorParametro VARCHAR(MAX) NULL'
ALTER TABLE Parametros ALTER COLUMN ValorParametro VARCHAR(MAX) NULL
ALTER TABLE AuditoriaParametros ALTER COLUMN ValorParametro VARCHAR(MAX) NULL
